Repository TomoyukiSugiyama/cloud-sql-proxy-v2-operator, changes with the labels that .github/labeler.yml gives for each.
All labels: github-action, feature, doc

exclude cloud-sql-proxy-v2-operator
  cmd/list.go
Labels: feature

update version number
  cmd/root.go
Labels: feature

Feature/select connect option interactively (#15)
  cmd/config.go
  cmd/connect.go
  cmd/doctor.go
  cmd/list.go
  cmd/root.go
Labels: feature

update readme
  README.md
Labels: doc

Refactor database type retrieval in connect.go
  cmd/connect.go
Labels: feature

Refactor database type retrieval in connect.go (#148)
  cmd/connect.go
Labels: feature

Update .goreleaser configuration for version 2
  .goreleaser.yml
Labels: none

Update .goreleaser configuration to rename 'homebrew' to 'brews'
  .goreleaser.yml
Labels: none

Update .goreleaser configuration to improve key naming consistency
  .goreleaser.yml
Labels: none

.github/labeler.yml:

github-action:
  - .github/**/*

feature:
  - cmd/*

doc:
  - README.md
