Repository TomoyukiSugiyama/cloud-sql-proxy-v2-operator, changes with the labels that .github/labeler.yml gives for each.
All labels: github-action, feature

.github/labeler.yml:

github-action:
  - .github/**/*

feature:
  - cmd/*

ignore .DS_Store
  .DS_Store
  .gitignore
Labels: none

rename workflow dir
  .github/workflows/create-release.yml
  .github/workflows/dependabot-auto-merge.yaml
  .github/workflows/labeling-pr.yml
Labels: github-action

delete script
  cross_compile.sh
Labels: none

update .goreleaser
  .goreleaser.yml
Labels: none

update .goreleaser
  .goreleaser.yml
Labels: none

ser caveats and description
  .goreleaser.yml
Labels: none

update description
  README.md
Labels: none

set HOMEBREW_TAP_GITHUB_TOKEN
  .github/workflows/create-release.yml
Labels: github-action

update readme
  README.md
Labels: none

set version
  cmd/root.go
Labels: feature

fix test command
  .goreleaser.yml
Labels: none

fix license
  LICENSE
Labels: none

rename homebrew tap repogitory
  .goreleaser.yml
Labels: none

update readme
  README.md
Labels: none

update readme
  README.md
Labels: none

fix brew install path
  README.md
Labels: none
